@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {


    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;

}



* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(144deg, rgb(18, 73, 114)0%, rgb(3, 81, 61)100%);
    /* background-color: aquamarine; */
    padding: 20px;
}

.justify-content-between {
    justify-content: space-between;
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.btn-1{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: rgb(20, 213, 203);
    line-height: 1.5;
    cursor:pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
}
.btn-1::after{
    border-radius: 30px;
}
.btn-1{
    margin-top: 15px;}

    .btn-1 i::after{
        border-radius: 50%;
       
    }
    .btn-1 i:hover{
        color: white;
    }
.hover-in-shadow:hover::after {
    box-shadow: var(--inner-shadow);
}

.align-items-center {
    align-items: center;
}

body,
input,
textarea,
a {
    font-family: 'Roboto', sans-serif;
}


.header {
    overflow: hidden;
    /* background-color: #f1f1f1; */
    padding: 10px 0px;
    /* position: fixed; */
}

/* Style the header links */
.header a {
    float: left;
    /* margin: 4px auto; */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 2px;
    border-radius: 12px;
}



.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: rgb(20, 213, 203);
    color: rgb(0, 0, 0);
}

/* Style the active/current link*/
.header a.active {
    text-align: center;
    background-color: rgb(20, 213, 203);
    color: white;
    margin-right: 5px;
}

/* Float the link section to the right */
.header-right {
    float: right;
}



.header .img {
    box-sizing: border-box;
    background-color: #000000;
    color: #e313c0;
    font-size: 20px;
    font-weight: bold;
}

.container img {
    margin-top: 85px;
    width: 85%;
    height: auto;
}

.home-section {
    /* border: 10px solid rgb(0, 255, 76); */
    color: #ddd;
    padding: 12px;
    width: 100%;
    height: 400px;
    text-align: justify;
    margin: 25px 0px 25px 0px;
    /* margin-left: 6%; */
    padding: 25px;
    box-sizing: border-box;
    /* background-color: #8a6c08; */
}

.home-section h1 {
    text-align: center;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-size: 35px;
    color: white;
}
  p{
    font-size: 20px;
}
.about-section {
    /* border: 10px solid rgba(255, 153, 0, 0.975); */

    width: 100%;
    color: #ddd;
    /* position: relative; */
    height: 400px;
    text-align: justify;
    margin: 25px 0px 25px 0px;
    /* margin-left: 5%; */
    padding: 25px;
    box-sizing: border-box;
    /* background-color: #084B8A; */
}

.about-section h1 {
    font-size: 32px;
    color:white;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.form-wrap {
    /* border: 10px solid rgba(255, 153, 0, 0.975); */

    width: 100%;
    height: 400px;
    margin: 25px 0px 25px 0px;
    /* margin-left: 5%; */
    padding: 25px;
    box-sizing: border-box;
    /* background-color: #cbcb15; */
}

.form-title {
    text-align: left;
    /* margin-left: 23px; */
    font-size: 28px;
    letter-spacing: 0.5px;
}

.form-fields {
    display: table;
    width: 70%;
    padding: 15px 5px 5px 5px;

}

.form-fields input,
.form-fields textarea {

    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: white;
    padding: 20px 10px 20px 5px;
    width: 100%;
    height: 2px;
    /* box-shadow: inset 8px 8px 8px #ece363,inset -8px -8px -8px #beb0b0; */

}

.form-fields textarea {
    height: 70px;
    resize: none;


}

.form-group {
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;

}

.form-group {
    border-radius: 25px;
    box-shadow: 3px 3px 8px #f5b6b6, -3px -3px 8px #ffffff;
}

.form-fields .form-group:last-child {
    width: 90%;
}

.social-icons {
    background-color: #ddd;
}

@media only screen and (max-width: 768px) {
    #section-wrapper {
        width: 100%;
    }

    .home-section,
    .about-section {
        width: 100%;
        height: inherit;
        float: none;
font-size: 23px;
    }

    .form-wrap {
        border-radius: 0px 0px 30px 30px;

    }

    .form-group {
        width: 100%;
        float: none;
        margin: 25px 0px;
    }

    .form-fields .form-group:last-child {
        width: 100%;
    }

    .btn-1 {
        width: 100%;
        
        margin: 10px 0px;
    }

}
/* @media only screen and ( max-width: 1380px){
    #section-wrapper {
        width: 100%;
    }

    .home-section,
    .about-section {
        width: 100%;
        height: inherit;
        float: none;

    }

    .form-wrap {
        border-radius: 0px 0px 30px 30px;

    }

    .form-group {
        width: 100%;
        float: none;
        margin: 25px 0px;
    }

    .form-fields .form-group:last-child {
        width: 100%;
    }

    .btn-1 {
        width: 100%;
        margin: 10px 0px;
    }

} */
/* @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
   */
   @media only screen and ( max-width: 1780px){
    #section-wrapper {
        width: 100%;
    }
    .about-section {
        width: 100%;
        height: inherit;
        float: none;
        

    }
   }
   @media only screen and ( min-width: 380px){
    #section-wrapper {
        width: 100%;
       
    }
 .home-section, .about-section{
        width: 100%;
        height: inherit;
        float: none;
        
        font-size: 25px;

    }
   }